{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate>
{{ form.hidden_tag() }}
{{ form.csrf_token }}
{% if current_user.is_authenticated %}
      {% if current_user.level > 1 %}
    <h1>Редактирование меню</h1>
        <p>
        {{ form.date.label }}<br>
        {{ form.date(class="datetime") }}<br>
        {% for error in form.date.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {% else %}
    <h1>Просмотр меню</h1>
        <p>
        {{ form.date.label }}:   {{ menu.date }}<br>
    </p>
    <p>
        {{ form.name.label }}:   {{ menu.name }}<br>
    {% endif %}
<h4>Список блюд</h4>
<table class="table table-striped" border=1>
        <thead class="thead-dark">
        <tr>
             <th>№</th>
             <th>Наименование</th>
             <th>Стоимость</th>
        </tr>
        </thead>
{% for dish in dishes%}
 <tr>
     <td> {{loop.index}}</td>
     <td>{{dish.name}}</td>
     <td>{{dish.cost}} </td>
  </tr>
{% endfor %}
</table>
    {% if current_user.level > 1 %}
<p>{{ form.submit_edit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
{% endif %}
{% endif %}
</form>
{% endblock %}
