{% extends "base.html" %}

{% block content %}
<h1>Меню</h1>
{% if current_user.is_authenticated %}
      {% if current_user.level > 1 %}
       <table class="table table-striped" border=1>
        <thead class="thead-dark">
        <tr>
             <th>Наименование</th>
             <th>Дата</th>
             <th></th>
             <th></th>
        </tr>
        </thead>
        {% for menu in menus%}
          
          <tr>
             <td>{{menu.name}}</td>
             <td>{{menu.date}}</td>
             <td><a href="/menu/{{ menu.id }}" class="btn btn-outline-success" role="button">Посмотреть</a></td>
             <td><a href="/menu_delete/{{ menu.id }}" class="btn btn-outline-danger" role="button">Удалить</a></td>
           </tr>          
         
        {% endfor %}
         </table>
    {% endif %}  
{% endif %}


{% endblock %}
